# Project information
site_name: "KOSGEB Tarafından Sunulan Girişimcilik Yol Haritası"
docs_dir: docs  # Where to find the markdown files
site_dir: site  # Where to output the HTML files
site_author: 'Dr. Uğur CORUH'
site_url: 'https://coruhtech.github.io/kosgeb-rize/'
site_description: 'KOSGEB Tarafından Sunulan Girişimcilik Yol Haritası'

# Repository
repo_name: 'GitHub'
repo_url: 'https://github.com/coruhtech/kosgeb-rize'
edit_uri: 'https://github.com/coruhtech/kosgeb-rize/edit/main/docs/'

# Copyright
copyright: Copyright &copy; 2022 - 2024 Coruh Arge ve Teknoloji San. Tic. Ltd. Şti

# Configuration
theme:
  name: material
  custom_dir: docs/overrides

  favicon: images/favicon.png

  icon:
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
    logo: logo  # Adjust the file name if necessary
  
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true
  
  # Static files  
  static_templates:
   - 404.html
    
  # Default values, taken from mkdocs_theme.yml
  language: tr
  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest

  palette:
    - scheme: default
      primary: cyan
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

# Customization
extra:
  annotate:
    json: [.s2]
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KOSGEB_RIZE
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target=_blank>feedback form</a>.
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    cookies:
      analytics: Google Analytics
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/coruhtech
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/coruh
    - icon: fontawesome/regular/id-card
      link: https://www.linkedin.com/in/ugurcoruh
    - icon: fontawesome/brands/orcid
      link: http://www.coruh.com.tr/

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: coruhtech
      repo: kosgeb-rize
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - codehilite:
      guess_lang: true

# Plugins
plugins:
  - mkdocs-simple-hooks:
      hooks:
        on_env: "hooks:on_env"
  - external-markdown
  - mkdocs-video
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - i18n:
      docs_structure: suffix
      reconfigure_material: true
      reconfigure_search: true
      fallback_to_default: true
      languages:
        - locale: tr
          name: "Türkçe"
          build: true
          default: true
          site_name: "KOSGEB Rize Girisimcilik Eğitimi"
          nav_translations:
            "Home": "Anasayfa" 
            "Entrepreneurship Overview": "Girişimcilik Genel Bakış" 
            "License": "Lisans" 
            "Changelog": "Revizyonlar" 
        - locale: en
          name: "English"
          build: true
          default: false
          site_name: "KOSGEB Rize Entrepreneurship Training"
          nav_translations:
            "Anasayfa": "Home" 
            "Girişimcilik Genel Bakış": "Entrepreneurship Overview" 
            "Lisans": "License" 
            "Revizyonlar": "Changelog" 
  - tags:
      tags_file: tags.md
  - minify:
      minify_html: true
      htmlmin_opts:
        remove_comments: true
  - git-revision-date-localized:
      fallback_to_build_date: true
      type: timeago
  - git-authors:
      sort_authors_by: contribution
  - git-committers:
      repository: coruhtech/kosgeb-rize
      docs_path: docs/
      branch: main
      token: !ENV MKDOCS_GIT_COMMITTERS_APIKEY
  - macros

markdown_extensions:
  - attr_list
  - md_in_html

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Page tree (for navigation)
nav:
  - Home: index.md
  - "Entrepreneurship Overview": kosgeb/girisimcilik-giris.md
  - License: license/index.md
  - Changelog: changelog/index.md
